NODE_ENV=production
PORT=3000

APP_URL="https://seudominio.com.br"
VITE_PUBLIC_APP_URL="https://seudominio.com.br"

COMPANY_NAME="Consult Services Tecnologia"

VITE_PUBLIC_APP_NAME="Consult Services Tecnologia"
VITE_PUBLIC_APP_SHORT_NAME="Consult"
VITE_PUBLIC_APP_DESCRIPTION="Tecnologia, processos, integrações, automações e IA aplicada a negócios."

VITE_COMPANY_NAME="Consult Services Tecnologia"
VITE_COMPANY_TAGLINE="Processos organizados. Decisões mais claras."
VITE_COMPANY_DESCRIPTION="A Consult Services Tecnologia apoia empresas na estruturação de processos, implantação de sistemas, integrações, automações, webapps e soluções com inteligência artificial aplicada ao negócio."
VITE_COMPANY_SITE_URL="https://seudominio.com.br"
VITE_COMPANY_LOGO_URL="https://i.imgur.com/gxXnYsA.png"
VITE_COMPANY_ICON_URL="https://i.imgur.com/wr0z5Xv.png"
VITE_COMPANY_PRIMARY_COLOR="#003B73"
VITE_COMPANY_SECONDARY_COLOR="#00AEEF"

VITE_PERSON_FULL_NAME="Christian Moura"
VITE_PERSON_FIRST_NAME="Christian"
VITE_PERSON_ROLE="Gestor de Projetos, Sistemas e Produtos"
VITE_PERSON_BIO="À frente da Consult Services Tecnologia, atua conectando processos, tecnologia e visão operacional para criar soluções práticas, com foco em clareza, organização e tomada de decisão."
VITE_PERSON_PHOTO_URL="https://i.imgur.com/4qp1d1W.png"
VITE_PERSON_LOCATION="Brasil"

VITE_CONTACT_EMAIL=""
VITE_CONTACT_PHONE=""
VITE_CONTACT_WHATSAPP_NUMBER="5521981845675"
VITE_CONTACT_WHATSAPP_MESSAGE="Olá, Christian. Conheci a Consult Services Tecnologia pelo seu cartão digital e gostaria de conversar sobre uma solução para minha empresa."
VITE_CONTACT_LINKEDIN_URL="https://www.linkedin.com/in/christianmourasantos/"
VITE_CONTACT_GITHUB_URL="https://github.com/CMOURASIGA"
VITE_CONTACT_INSTAGRAM_URL=""
VITE_CONTACT_YOUTUBE_URL=""

VITE_SHARE_TITLE="Consult Services Tecnologia | Christian Moura"
VITE_SHARE_TEXT="Tecnologia, processos, integrações, automações e IA aplicada a negócios."
VITE_SHARE_URL="https://seudominio.com.br"
VITE_QR_CODE_TARGET_URL="https://seudominio.com.br"

VCF_FILE_NAME="christian-moura-consult-services.vcf"
VCF_FULL_NAME="Christian Moura"
VCF_FIRST_NAME="Christian"
VCF_LAST_NAME="Moura"
VCF_ORG="Consult Services Tecnologia"
VCF_TITLE="Gestor de Projetos, Sistemas e Produtos"
VCF_PHONE="+5521981845675"
VCF_WHATSAPP="+5521981845675"
VCF_EMAIL=""
VCF_SITE=""
VCF_LINKEDIN="https://www.linkedin.com/in/christianmourasantos/"
VCF_GITHUB="https://github.com/CMOURASIGA"
VCF_INSTAGRAM=""

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="contactconsultservices@gmail.com"
SMTP_PASS=""
SMTP_FROM_NAME="Consult Services Tecnologia"
SMTP_FROM_EMAIL="contactconsultservices@gmail.com"
CONTACT_RECEIVER_EMAIL="contactconsultservices@gmail.com"
CONTACT_COPY_EMAIL=""

CONTACT_FORM_RATE_LIMIT_WINDOW_MINUTES=10
CONTACT_FORM_RATE_LIMIT_MAX_REQUESTS=5
CONTACT_FORM_MAX_MESSAGE_LENGTH=2000
ENABLE_HONEYPOT=true
ENABLE_CAPTCHA=false
CAPTCHA_PROVIDER=""
CAPTCHA_SITE_KEY=""
CAPTCHA_SECRET_KEY=""
ALLOWED_ORIGINS="https://seudominio.com.br"

VITE_ENABLE_ANALYTICS=false
VITE_GA_MEASUREMENT_ID=""
VITE_PLAUSIBLE_DOMAIN=""
